@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@400;500&display=swap");

.App {
  font-family: "Poppins", sans-serif;
}

.dashboard-panel {
  box-shadow: 0px 4px 42px rgba(79, 114, 205, 0.15);
}

.header {
  grid-template-columns: auto 1fr 1fr;
}

.track-dropdown {
  box-shadow: 0px 4px 42px rgba(79, 114, 205, 0.15);
}

.track-dropdown .track {
  grid-template-columns: 1fr 1fr 2fr 1fr;
}

.track-dropdown .track > input::before {
  box-shadow: inset 1em 1em #3f3a5a;
}

.searchbar > input:focus {
  box-shadow: 0px 0px 2px 2px rgba(46, 87, 232, 0.25);
}

.filter-dropdown {
  box-shadow: 0px 4px 42px rgba(79, 114, 205, 0.15);
}

.filter-dropdown button {
  text-align: left;
  display: flex;
  align-items: center;
  justify-items: flex-start;
  gap: 1rem;
  padding: 8px 20px;

  min-width: 348px;
  height: max-content;
}

.filter-dropdown button:hover {
  background: #f0f3f9;
}

.testimonial {
  font-size: 14px;
  border-top: 1px solid #eaecf3;
  max-width: 1376px;
  min-height: 64px;

  display: grid;
  grid-template-columns: 1fr 1fr 3fr 6fr 2fr 1fr;
  align-items: center;
  justify-items: flex-start;
}

.pagination-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 8px 16px;

  width: 41px;
  border: 1px solid #d5d8e4;
  box-sizing: border-box;
  border-radius: 5px;
}

.pagination-btn-active {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  width: 41px;
  background: #e1ebff;
  border: 1px solid #76709f;
  box-sizing: border-box;
  border-radius: 5px;
}

.navigation-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;

  min-width: 85px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #d5d8e4;
  box-shadow: 0px 1px 0px 1px rgba(203, 201, 217, 0.6);
  border-radius: 5px;
}

.navigation-btn-disabled {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  min-width: 85px;
  height: 40px;
  background: #e0e0ed;
  border-radius: 5px;
}
